<h1>Feedback API: Course Profile</h1>
<h2>The course is based of university courses with a code/id, name and the amount of study credits. </h2>
    <p>The course id, name and ECTs can e.g. be the following:</p>
    <ul>
        <li>Course code: 12345P</li>
        <li>Name: Imaginary Course</li>
        <li>ECTS: 5</li>
    </ul>
<h2>Link Relations</h2>
    <ul>
        <li><b>edit, feedback:delete-course</b>: DELETE and PUT methods for course</li>
        <li><b>collection</b>: point to the course collection the course belongs to</li>
    </ul>


