<h1>Feedback API: Course Instance Profile</h1>
<h2>The instance is a implementation of a course. For example they can be
    split by semester or the way they are hosted.
</h2>
    <p>A course instance could be the following:</p>
    <ul>
        <li>teacher: person who held the course</li>
        <li>duration: who long the course lasted</li>
        <li>begin_year: what year the course instance was held</li>
        <li>begin_period: what period the course instance was held</li>
    </ul>
<h2>Link Relations</h2>
    <ul>
        <li><b>edit, feedback:delete-course-instance</b>: DELETE and PUT methods for course instance items</li>
        <li><b>collection</b>: point to the course instance collection the course instance belongs to</li>
        <li><b>feedback:course</b>: points to the course the course instance belongs to</li>
    </ul>

