<h1>Feedback API: Review Profile</h1>
<h2>The review is a single review for the course instance.
</h2>
    <p>A review could be the following:</p>
    <ul>
        <li>course_instance_id: any numerical id</li>
        <li>rating: reviewer's grade FOR the course</li>
        <li>pseudonym: reviewer's pseudonym/name</li>
        <li>review_text: actual review text</li>
        <li>date: date of review</li>
        <li>method: for example remote</li>
        <li>students_grade: reviewer's grade from course</li>
    </ul>

<h2>Link Relations</h2>
<ul>
    <li><b>edit, feedback:delete-review</b>: DELETE and PUT methods for review items</li>
    <li><b>collection</b>: point to the review collection the review belongs to</li>
    <li><b>feedback:course-instance</b>: points to the course instance the review belongs to</li>
</ul>
